@import "../../styles/mixins";
.singleProductPage {
  // background-color: #e4e7f2;
  width: 100%;
  // height: 500px;
  padding: 20px 16px;
  // border-top: 0.5px solid #000;
  font-family: iranyekanFa;
  margin-bottom: 60px;

  .divider {
    margin: 16px 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr max-content;
    padding: 10px 0;

    .detailSide {
      padding-left: 16px;

      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .productName {
          font-size: 18px;
          // margin-bottom: 16px;
        }
        .productLike {
          border: none;
          outline: none;
          background-color: rgb(228, 226, 226);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;

          svg {
            width: 15px;
            height: 15px;
          }
        }
      }
      .description {
        margin-top: 40px;
      }
      .desktopOnly {
        display: none;
        .price {
          display: flex;
          flex-direction: column;
          margin: 25px 0;

          .discountSec {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            .oldPrice {
              font-size: 14px;
              text-decoration: line-through;
              text-decoration-color: rgb(192, 194, 197);
              color: rgb(192, 194, 197);
            }
            .discount {
              background-color: orangered;
              border-radius: 10px;
              padding: 4px 7px;
              font-size: 14px;
              color: #fff;
              font-family: iranyekanFa;
            }
          }
          .calculatedPrice {
            font-size: 20px;
            display: flex;
            justify-content: flex-end;
            text-align: left;
            gap: 5px;
          }
        }
      }
      .notExist {
      }
      .Rating {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        .rate {
          // display: flex;
        }

        .review {
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
        }
      }
      .attribute {
        margin: 16px 0;
        min-height: 200px;

        span {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }

        .attributeValue {
          display: flex;
          gap: 10px;
          // margin-right: 16px;

          .attributeSelect {
            .radio {
              display: none;
            }
            .radio:checked + label > span {
              display: block;
            }

            label {
              width: 30px;
              height: 30px;
              display: block;
              border-radius: 50%;
              position: relative;

              span {
                display: none;
                width: 130%;
                height: 130%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                z-index: 2;
                background-color: transparent;
              }
            }
          }
        }
      }
      .buyBtn {
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        z-index: 5;
        padding: 10px 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .phoneOnly {
          display: block;
          order: 1;

          .price {
            display: flex;
            flex-direction: column;
            // margin: 16px 0;

            .discountSec {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: 10px;
              .oldPrice {
                font-size: 14px;
                text-decoration: line-through;
                text-decoration-color: rgb(192, 194, 197);
                color: rgb(192, 194, 197);
              }
              .discount {
                background-color: orangered;
                border-radius: 50%;
                padding: 2px 7px;
                font-size: 14px;
                color: #fff;
              }
            }
            .calculatedPrice {
              font-size: 20px;
              display: flex;
              justify-content: flex-end;
              text-align: left;
              gap: 5px;
            }
          }
        }
      }
    }
  }
  .line {
    width: 100%;
    height: 5px;
    background-color: rgba(199, 199, 199, 0.347);
    border-radius: 5px;
    margin: 30px 0;
  }

  @include tablet-landscape-up {
    .divider {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;

      .detailSide {
        border-inline-end: 1px solid rgb(180, 180, 180);
        .desktopOnly {
          display: block;
        }
        .buyBtn {
          position: static;

          background-color: transparent;
          box-shadow: unset;
          display: flex;
          justify-content: center;

          .phoneOnly {
            display: none;
          }
        }

        // .desktopOnly {
        //   display: block;
        // }
        // .buyBtn {
        //   position: static;

        //   background-color: transparent;
        //   box-shadow: unset;
        //   display: flex;
        //   justify-content: center;

        //   .phoneOnly {
        //     display: none;
        //   }
      }
    }
  }
  // @include tablet-portrait-up {
  //   // .divider {
  //   //   .detailSide {
  //   //     .desktopOnly {
  //   //       display: block;
  //   //     }
  //   //     .buyBtn {
  //   //       position: static;

  //   //       background-color: transparent;
  //   //       box-shadow: unset;
  //   //       display: flex;
  //   //       justify-content: center;

  //   //       .phoneOnly {
  //   //         display: none;
  //   //       }
  //   //     }
  //   //   }
  //   // }
  // }
}
