@import "/styles/mixins";
.searchBar {
  display: flex;
  margin-inline-end: auto;
  margin-inline-start: 20px;
  // width: 200px;
  align-items: center;
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
  padding: 15px 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  flex-wrap: wrap;
  // &.focus {
  //   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  //   background-color: #fff;

  //   .inputBox {
  //     border-bottom: 1px solid red;
  //   }
  // }

  @include phone-only {
    margin-inline-start: 0;
    width: 70%;
    max-width: 300px;
    padding: 10px 5px;
  }
  .inputBox {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;

    label {
      color: gray;
      display: flex;
      margin-left: 5px;
      display: flex;
      align-items: center;

      & > svg {
        width: 20px;
        height: 20px;
      }
    }

    input {
      padding: 5px 10px;
      width: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 20px;

      line-height: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      &::-webkit-search-cancel-button {
        appearance: none;
      }

      &::placeholder {
        font-size: 15px;
        line-height: normal;
      }
    }
  }
  .focusedBox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 21;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #fff;
    transition: opacity 0.2s ease-in;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    display: none;
    // &.notfocus {
    //   // display: none;
    //   transform: scale(0);
    //   opacity: 0;
    //   // visibility: hidden;
    // }

    @include tablet-landscape-up {
      &.focus {
        display: block;
        opacity: 1;
        transform: scale(1);
        // visibility: visible;
        // display: block;
      }
      &.notfocus {
        display: block;
        transform: scale(0);
        opacity: 0;
        background-color: red;
        // visibility: hidden;
      }
    }

    .inputBox {
      display: flex;
      padding: 15px 10px;
      border-bottom: 1px solid rgb(53, 169, 247);
      align-items: center;
      background-color: transparent;

      width: 90%;
      margin: 0 auto;

      label {
        color: gray;
        display: flex;
        margin-left: 5px;
        display: flex;
        align-items: center;

        & > svg {
          width: 20px;
          height: 20px;
        }
      }

      input {
        padding: 5px 10px;

        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 20px;

        line-height: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;

        &::-webkit-search-cancel-button {
          appearance: none;
        }

        &::placeholder {
          font-size: 15px;
          line-height: normal;
        }
      }
    }
    .ResaultBox {
      top: 100%;
      width: 100%;
      padding: 10px 5%;
      max-height: 300px;
      overflow: scroll;

      .product {
        display: grid;
        grid-template-columns: 20% 1fr;
        align-items: center;
        border-bottom: 1px solid gray;
        padding: 5px 0;
        cursor: pointer;

        &:last-of-type {
          border-bottom: none;
        }

        .imageContainer {
          position: relative;
          aspect-ratio: 1/1;
          img {
            object-fit: contain;
            width: 100%;

            max-height: auto;
            display: block;
          }
        }
      }
    }
  }

  .searchPhone {
    padding: 20px;
    height: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #2fc4db;
      // margin-top: 20px;

      .searchBox {
        position: relative;
        flex: 1;
        display: flex;

        input {
          // width: 100%;
          flex: 1;
          display: block;
          border: none;
          outline: none;
          padding: 10px;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .result {
      width: 100%;
      padding: 10px 5%;
      // max-height: 300px;
      // overflow: scroll;

      .product {
        display: grid;
        grid-template-columns: 20% 1fr;
        align-items: center;
        border-bottom: 1px solid gray;
        padding: 5px 0;
        cursor: pointer;

        &:last-of-type {
          border-bottom: none;
        }

        .imageContainer {
          position: relative;
          aspect-ratio: 1/1;
          img {
            object-fit: contain;
            width: 100%;

            max-height: auto;
            display: block;
          }
        }
      }
    }
  }
}
