@import "/styles/mixins";
.searchBar {
  display: flex;
  margin-inline-end: auto;
  margin-inline-start: 20px;
  // width: 200px;
  align-items: center;
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
  padding: 15px 5px;
  width: 90%;
  max-width: 500px;

  @include phone-only {
    margin-inline-start: 0;
    width: 70%;
    max-width: 300px;
  }

  label {
    color: gray;
    display: flex;
    margin-left: 5px;
    display: flex;
    align-items: center;

    & > svg {
      width: 20px;
      height: 20px;
    }
  }

  input {
    padding: 5px 10px;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;

    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    &::-webkit-search-cancel-button {
      appearance: none;
    }

    &::placeholder {
      font-size: 15px;
      line-height: normal;
    }
  }
}
