.relatedProduct {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: 100%;
  min-height: 200px;
  border-radius: 5px;
  padding: 16px;
  position: relative;
  z-index: 0;

  .title {
    font-size: 16px;
    padding: 10px 0;
    display: inline-block;
    border-bottom: 2px solid red;
  }
  .slider {
    display: block;
    margin: 5px 0;
    background-color: #fff;
    .productCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 1px solid rgba(199, 199, 199, 0.347);

      .imageContainer {
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;

        img {
          max-width: 50%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}
