.radio{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.radioBtn {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 5px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s cubic-bezier(0, 1, 0.5, 1);

    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s cubic-bezier(0, 1, 0.5, 1);
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #52c944;
  }

  input:focus + .slider {
    box-shadow: 0 0 4px #7efa70;
  }

  input:checked + .slider:before {
    transform: translateX(20px);
  }

  //   .sm {
  //     width: 100px;
  //     height: 50px;
  //   }
  //   .md {
  //     width: 150px;
  //     height: 70px;
  //   }
  //   .lg {
  //     width: 200px;
  //     height: 90px;
  //   }
}
