@import "../../styles/mixins";
.allproduct {
  // background-color: red;
  margin-inline-start: 0px;
  grid-column: 1/-1;

  @include tablet-landscape-up {
    margin-inline-start: 20px;
    grid-column: 2 / -1;
  }
}
