@import "../../styles/mixins";
.loginPage {
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;

  .imageSide {
    background-color: #f3f5f9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    display: none;

    .circle {
      width: 40%;
      padding-top: 40%;
      height: 0;
      border-radius: 50%;
      background-color: #633eba;
      position: relative;

      &::before {
        content: "";
        width: 120%;
        height: 70%;
        // border-bottom-left-radius: 125px;
        // border-bottom-right-radius: 125px;
        // background-color: #fff;
        backdrop-filter: blur(15px);
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-25px, 0);
      }
    }
  }

  .formSide {
    flex: 1;

    .content {
      // width: 50%;
      margin: 0 auto;

      .backIcon {
        display: flex;

        justify-content: flex-end;
        cursor: pointer;

        svg {
          width: 25px;
          height: 25px;
          transition: all 0.2s ease-in-out;

          &:hover {
            fill: #633eba;
          }
        }
      }

      h3 {
        margin: 15px 0;
      }
      p {
        margin-bottom: 20px;
      }

      .form {
        div {
          &:not(:last-of-type) {
            margin-bottom: 15px;
          }

          label {
            display: block;
            margin: 5px 0;
          }
          input {
            padding: 10px 10px;
            border-radius: 7px;
            border: 1px solid #eee;
            outline: none;
            width: 100%;
          }
          .error {
            font-size: 12px;
            color: red;
          }
        }

        .forgetPass {
          margin: 15px 0;
          display: block;
          color: #633eba;
          font-size: 12px;
        }
        button {
          width: 100%;
          border-radius: 7px;
          padding: 10px;
          background-color: transparent;
          border: none;
          margin-bottom: 10px;
          cursor: pointer;
          font-size: 16px;
        }

        button.loginButton {
          background-color: #633eba;
          color: #fff;
          position: relative;
        }
        button.loginWithGoogle {
          border: 1px solid gray;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          cursor: pointer;
          transition: all 0.2 ease-in-out;

          &:hover {
            background-color: #eee;
          }

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
      .switchLogin {
        .link {
          color: #633eba;
          margin: 0 5px;
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }

  // 600 -900
  @include tablet-portrait-up {
    .imageSide {
      display: flex;
    }
    .formSide {
      .content {
        width: 80%;
      }
    }
  }
  // 900 - ...
  @include tablet-landscape-up {
    .imageSide {
    }
    .formSide {
      .content {
        width: 50%;
      }
    }
  }
}
