.addToBasket {
  width: 140px;

  margin: 0 auto;
  height: 50px;
  border-radius: 15px;
  color: #fff;
  background-color: #ef4056;
  //   padding: 15px 40px;
  user-select: none;
  border: none;
  outline: none;
  border: 1px solid #ef4056;
  // margin-inline: auto;
  display: block;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  span {
    font-size: 16px;
    font-weight: 700;
    font-family: iranyekanFa;
  }

  &.advanceMode {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    user-select: none;
    button {
      background-color: transparent;
      outline: none;
      border: none;
      color: #fff;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &.outline {
    border: 1px solid #a5a4a4;
    background-color: #fff;
    max-width: 70%;
    height: 40px;
    color: #ef4056;
    box-shadow: unset;
    button {
      color: #ef4056;
    }
  }
}
