.imageSide {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 400px;
  // background-color: red;

  .tumbnails {
    height: 100%;
    overflow: hidden;
    margin-right: 16px;

    .imageContainer {
      position: relative;
      width: 90%;
      height: 100%;
      margin: auto;
      // border: 1px solid gray !important;
      // border-radius: 10px;
      // overflow: hidden;

      // &.cative {
      //   border: 1px solid greenyellow !important;
      // }
      // .mySwipper {
      //   height: 100% !important;

      img {
        width: 100% !important;
        height: auto !important;
        max-height: 100% !important;

        object-fit: contain;
      }
      // }
    }
  }
  .image {
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;

    & > * {
      height: 100% !important;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
