@import "../../styles/mixins";

.imageSide {
  display: grid;
  // grid-template-columns: 25% 75%;
  // grid-template-rows: 400px;

  order: -1;
  // grid-template-columns: 1fr;
  // grid-template-rows: 300px 100px;
  // background-color: red;

  grid-template-columns: 100%;
  grid-template-rows: 300px;

  .tumbnails {
    display: none;
  }
  .image {
    display: none;
  }
  .swipperOnPhone {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: auto;

    & img {
      display: block;
      object-fit: contain;
    }
  }

  @include tablet-portrait-up {
    // order: 2;
    grid-template-columns: 25% 75%;
    grid-template-rows: 400px;

    .tumbnails {
      height: 100%;
      padding: 5px;
      overflow: hidden;
      margin-right: 16px;
      user-select: none;
      // order: 2;
      display: block;

      .imageContainer {
        position: relative;
        width: 90%;
        height: 100%;
        margin: auto;

        img {
          width: 100% !important;
          height: auto !important;
          max-height: 100% !important;

          object-fit: contain;
        }
        // }
      }
    }
    .image {
      width: 70%;

      position: relative;
      margin: auto;
      height: 100%;
      display: block;

      & > * {
        height: 100% !important;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .swipperOnPhone {
      display: none;
    }
  }

  @include tablet-landscape-up {
    border-inline-end: 1px solid rgb(180, 180, 180);
  }
}
