@import "../../styles/mixins";
.notFoundSearch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 70px 0;
  gap: 50px;
}
.productMapLayout {
  width: 100%;
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  // grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, max-content);
  border-top: 1px solid #f0f0f1;
  border-right: 1px solid #f0f0f1;
  border-radius: 20px;
  overflow: hidden;

  & > div {
    border-bottom: 1px solid #f0f0f1;
    border-left: 1px solid #f0f0f1;
    // border-left: none;
    // border-top: none;

    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
  @include desktop-up {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  @include phone-only {
    grid-template-columns: 1fr;
    border-right: none;
    border-radius: 0;

    & > div {
      border-left: none;
    }
  }

  @media screen and (min-width: 899px) and (max-width: 911px) {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .shareBox {
    padding: 16px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      span {
        font-size: 16px;
        font-weight: 700;
        color: #0c0c0c;
        line-height: 2.15;
      }

      svg {
        width: 25px;
        height: 25px;
      }
    }
    .shareText {
      font-weight: 600;
      color: gray;
      line-height: 2.15;
      font-size: 14px;
    }

    .copyLinkBox {
      border: 1px solid #0c0c0c;
      border-radius: 10px;
      padding: 8px;
      display: flex;
      width: 100%;
      margin: 16px 0;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 16px;
      cursor: pointer;

      span {
        font-size: 12px;
      }
      svg {
        width: 25px;
        height: 25px;
      }
    }
    .Icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      .Icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 12px 0;
        gap: 10px;
        svg {
          width: 25px;
          height: 25px;
        }
        span {
          font-weight: 600;
          font-size: 14px;
          color: #fff;
        }

        &.telegram {
          background-color: #29b6f6;
        }
        &.whatsapp {
          background-color: #40c351;
        }
        &.twetter {
          background-color: #1da1f2;
        }
      }
    }
  }
}
.extendSection {
  width: 60vw;
  top: calc(20vh);
  right: 0%;
  // top: 0;
  // transform: translate(-30%, 25%);
  height: 70vh;
  position: absolute;
  z-index: 19;
  background-color: rgb(197, 168, 168);

  img {
    width: 100%;
    height: 100%;
    display: flex;
    -o-object-fit: cover;
    object-fit: contain;
  }
}
