@font-face {
  font-family: "iranYekanBold";
  src: url("/fonts/iranyekanwebbold.cfb6e26c.woff2") format("woff2");
}
@font-face {
  font-family: "iranYekanMedium";
  src: url("/fonts/iranyekanwebmedium.2d4f96e5.woff") format("woff");
}
@font-face {
  font-family: "iranYekanRegular";
  src: url("/fonts/iranyekanwebregular.e31c09af.woff2") format("woff2");
}
