@import "mixins";
@import "font";
@import "DynamicClass";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

html {
  direction: rtl;
  font-family: iranYekanMedium, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: currentColor;
  text-decoration: none;
}

.showmobile {
  display: none;
  @include phone-only {
    display: block;
  }
}

.hiddenmobile {
  display: block;
  @include phone-only {
    display: none;
  }
}
.relative {
  position: relative;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin-bottom: 15px;
}
.active {
  color: #000 !important;
  font-size: 18px;
}
.mySwipper {
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1 !important;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0 !important;
    transition: opacity 0.3s;
    width: 40px;
    height: 40px;
    left: unset !important;
    right: 80px !important;
    bottom: 30px !important;
    top: unset;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 19l-7-7 7-7' /%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% auto;

    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    right: 30px !important;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5l7 7-7 7' /%3E%3C/svg%3E");
  }
  .activebullet {
    transition: all 0.2s;
    width: 16px;
    height: 7px;
    opacity: 1;
    background-color: #fff;
    border-radius: 20px;
    //   -webkit-transform: translateY(1px);
    transform: translateY(0px);
  }
  .swiper-pagination {
    right: 40px !important;
    text-align: right;
  }
  @include phone-only {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-pagination {
      right: 20px !important;
      bottom: 0 !important;
      .swiper-pagination-bullet {
        margin: 0 1px !important;

        right: 10px;
      }
    }
  }
}

.thumbnailSwipper {
  height: 100%;

  .swiper-slide {
    border: 1px solid rgb(196, 196, 196) !important;
    border-radius: 10px !important;
    overflow: hidden !important;

    &.active {
      border: 1px solid green !important;
    }
  }
}

.onlyPhoneSlider {
  .swiper-pagination-bullets {
    bottom: 0 !important;
  }
}

.relatedCustomClass {
  // .swiper-button-next,
  // .swiper-button-prev {
  //   border-radius: 50% !important;
  //   background-color: rgb(80, 78, 78) !important ;
  // }

  .swiper-button-next,
  .swiper-button-prev {
    transition: opacity 0.3s;
    width: 35px;
    height: 35px;

    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 19l-7-7 7-7' /%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% auto;

    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    right: 30px !important;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5l7 7-7 7' /%3E%3C/svg%3E");
  }
  .activebullet {
    transition: all 0.2s;
    width: 16px;
    height: 7px;
    opacity: 1;
    background-color: #fff;
    border-radius: 20px;
    //   -webkit-transform: translateY(1px);
    transform: translateY(0px);
  }
  .swiper-pagination {
    right: 40px !important;
    text-align: right;
  }
}
