.pagination{
    height: 60px;
    display: flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    // background-color: red;
    flex-wrap: wrap;
    user-select: none;
    // font-family: 'Courier New', Courier, monospace;
}

.paginate-buttons{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:red;
}

.ellipses{
    position: relative;
    display:inline-flex;
    align-items:center;

}

.previous ,
 .next,
 .last,
 .first {
    border-radius: 5px;
    padding: 5px;
    margin-inline: 5px;

}

.pagination-items{
    border-radius: 5px;
   
    padding-inline: 5px;
    padding-block: 2px;
    margin-inline: 5px;
}

.icons{
    width: 20px;
    height: 20px;
}

.active-page{
    color: white !important;
    background-color: tomato;

    padding-inline: 5px;
}