@import "../../styles/mixins";

.filterSortPhone {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @include tablet-landscape-up {
    display: none;
  }

  .filter,
  .sort {
    display: flex;
    align-items: center;
    gap: 10px;
    // margin: 15px;

    & svg {
      width: 25px;
      height: 25px;
    }
  }
}
.sortSec {
  display: none;
  align-items: center;
  margin-bottom: 15px;

  @include tablet-landscape-up {
    display: flex;
  }
  // border-bottom: 1px solid gray;
  .sortIcon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
    svg {
      width: 25px;
      height: 25px;
    }
    span {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .sorting {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    gap: 20px;

    @media screen and (max-width: 950px) {
      justify-content: space-between;
      gap: 5px;
    }

    .sortItem {
      padding: 5px 0;

      cursor: pointer;
      color: #81858b;

      &.active {
        color: #ef394e;
      }
    }
  }
}

.mobileSort {
  padding: 16px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .sortheader {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      width: 25px;
      height: 25px;
    }
    p {
      font-size: 20px;
    }
  }
  .sortContainer {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 5px;
    li {
      padding-top: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-of-type) {
        padding: 12px 0;
        border-bottom: 1px solid gray;
      }

      // &.active {
      //   span {
      //     color: aqua;
      //   }
      // }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
